/**********HEADER************/
.nav {
    width: 100%;
    height: 45px;
    /* background-color: rgb(0, 0, 0); */
    position: fixed;
    top: 0;
    /* border-bottom: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    z-index: 15;
    transition: all 0.5s;
}

/***** JS CLASS ***/
.nav-active {
    background-color: rgb(223, 105, 27);
}

.menu.visible {
    visibility: visible;
}
/*** END OF JS CLASS ***/

.abrir-menu {
    display: none;
}

.cerrar-menu {
    display: none;
}
.menu > a {
    font-size: 18px;
    color: white;
    font-family: var(--secondary-font);
    font-weight: bold;
    margin-left: 15px;
}

.menu {
    margin-top: 10px;
}
.social-media {
    flex-direction: row;
    padding-top: 11px;
}
.social-media > a > i{
    font-size: 18px;
    color: white;
    margin-right: 15px;
}

/*** HOME ***/
.titulo > h2 {
    font-family: var(--primary-font);
    color: white;
    font-size: 60px;
}
span {
    color: rgb(223, 105, 27);
}

.titulo > p {
    font-family: var(--secondary-font);
    color: white;
    text-align: center;
}
.home {
    max-height: 100vh;
    background-image: url(../img/Guitarra-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    position: absolute;
    top: 40%;
    left: 35%;
}

.degradado {
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 20, 20, 0.425);
    z-index: 10;
}

/**** ESPACIO DE PRUEBA ***/
.espacio {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.preguntas {
    width: 300px;
    height: 300px;
}
.preguntas > h3 {
    color: orange;
    font-size: 40px;
    text-align: center;
    padding: 50px 20px 20px 20px
}
.preguntas > p {
    text-align: center;
}

/**********MAIN***********/
.container {
    margin-right: 30px;
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
}
.guitarra1 {
    height: 100%;
    width: 50%;
    background-image: url(../img/guitarra-clásica-22980279.jpg);
    position: relative;
}
.guitarra2 {
    height: 100%;
    width: 50%;
    background-image: url(../img/Mario\ Graciani.jpg);
    position: relative;
}


.guitarra-degradado {
    background-color: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    z-index: 20;
    
}
.guitarra1 > a {
    position: absolute;
    top: 30%;
    left: 30px;
    color: white;
    font-size: 50px;
    font-family: var(--secondary-font);
    font-weight: 600;
    
}
.guitarra2 > a {
    position: absolute;
    top: 30%;
    right: 30px;
    color: white;
    font-size: 50px;
    font-family: var(--secondary-font);
    transition: 0.3s ease-out;
    font-weight: 600;
}

.guitarra2 > a:hover, .guitarra1 > a:hover {
    color: rgb(246, 168, 42);
    opacity: 0.85;
    /* text-shadow: 2px 2px 10px white; */
}


.relleno {
    height: 500px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
}

/*** PATROCINIOS ***/
.relleno > img {
    width: 200px;
    object-fit: scale-down;
    margin: 50px;
}

/*** FOOTER ***/

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: black;
    height: 300px;
    color: white;
    padding: 50px 100px 50px 70px;
}

.footer-logo > p {
    font-size: 1.5rem;
    line-height: 18px;
    font-family: var(--primary-font);
}
.about > h2 {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}

.about > p {
    margin-bottom: 10px;
    font-family: var(--secondary-font);
}

.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter > h2 {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}

.newsletter > p {
    font-family: var(--secondary-font);
}

.newsletter > input {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
}

.newsletter > button {
    padding: 5px;
    background-color: rgb(223, 105, 27);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease-out;
    border: none;
}

.newsletter > button:hover {
    background-color: white;
    color: orange;
}
.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social-media > h2 {
    margin-bottom: 10px;
    font-family: var(--secondary-font);
}
.footer-social-media > a > i {
    font-size: 22px;
    color: white;
    margin: 10px;
}

@media (max-width: 500px) {

    .social-media > a > i{
        font-size: 22px;
    }

    .menu {
        width: 300px;
        visibility:hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 36px;
        background-color: rgba(216, 95, 29, 0.869);
        border-bottom-right-radius: 20px;
        height: 700px;
    }

    .cerrar-menu {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 35px;
        color: white;
        padding: 50px 0;
    }

    .menu > a {
        padding: 15px 0;
        font-size: 1.5rem;
    }

    .abrir-menu {
        display: block;
        font-size: 1.3rem;
        color: white;
        background-color: transparent;
        border: white solid 2px;
        border-radius: 5px;
        padding: 0 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .titulo {
        position: absolute;
        left: 15px;
        top: 25%;
        text-align: center;
    }

    .espacio {
        width: 100%;
        height: 800px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .preguntas {
        width: 200px;
        /* height: 300px; */
    }

    .container {
        width: 100%;
        margin-right: 0px;
        display:flex;
        flex-direction: column;
        height: 600px;
    }

    .guitarra1, .guitarra2 {
        width: 100%;
    }
    
    .guitarra1 > a, .guitarra2 > a {
        position: absolute;
        top: 25%;
        left: 25%;
        color: white;
        font-size: 50px;
        font-family: var(--secondary-font);
        font-weight: 600;
        
    }

    .relleno {
        height: 500px;
        display: flex;
        flex-flow: row wrap;
        background-color: white;
        justify-content: space-evenly;
    }
    
    #sponsor {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
        padding: 30px 30px;
        height:max-content;
        /* padding: 50px 100px 50px 70px; */
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .footer-logo > p {
        font-size: 2rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .about {
        text-align: center;
    }

    .newsletter {
        text-align: center;
    }

    .footer-social-media {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-logo, .about, .newsletter {
        padding-bottom: 20px;
    }

    .footer-social-media > h2 {
        display: none;
    }


}